<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jiunling.pass"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
    
    <!-- wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    
    <!-- NETWORK -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- user accounts -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    
    <!-- GPS, AGPS -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <!-- VIBRATE -->
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />   
    
    <permission android:name="jiunling.pass.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="jiunling.pass.permission.C2D_MESSAGE" /> 
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="jiunling.pass.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".view.option" 
            android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		
        <activity android:name=".view.WifiDialog" 
            android:theme="@style/Theme.Sherlock.Light.Dialog"
            android:label="@string/wifi_Dialog_title"
			android:screenOrientation="portrait" >
		</activity>
        
        <service android:enabled="true" android:name="jiunling.pass.service.BackgroundService"/>
        
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="jiunling.pass" />
            </intent-filter>
        </receiver>
        
        <service android:enabled="true" android:name=".GCMIntentService" />
    </application>

</manifest>